/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cfblocks {
	border: 1px dotted #f00;
	color: #fff;

	textarea,
	input {
		background: rgba(0, 0, 0, 0);
		color: #fff;

		&::placeholder {
			color: #fff !important;
		}
	}
}
